.section {
    margin-bottom: 20px;
}
.main-selection {
    flex: 1;
    font-weight: bold;
    user-select: none;
    margin-bottom: 20px;
}
.main-selection > *:not(:first-child) {
    margin-left: 15px;
}

.box,
.checkbox {
    border: 2px solid;
    padding: 1px 5px;
    border-radius: 4px;
    display : inline-flex;
    align-items : center;
    justify-content: center;
    user-select: none;
}

.box {
    height: 26px;
    color: #40afe2;
    border-color: #40afe2;
}

select, select option {
    font-family: monospace;
}

.chart-data {
    height: calc(100vh - 205px);
}